.footer{
    background-color: var(--DEFAULT-FONT-COLOR);
    padding: 1rem 0.5rem;
    margin-top: 0.5rem;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 -1px 5px var(--DEFAULT-FONT-COLOR);
    cursor: default;

    color: white;
}