/* Home Page - Header Styles */
header{
    background-color: var(--DEFAULT-FONT-COLOR);
    color: white;
    cursor: default;
}

.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    
    padding: 1rem;
}

.user-container .user-icon{
    font-size: 2rem;
    color: white;
    height: 100%;
    
    padding-top: 0.4rem;
}

.header-text-content-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.header-text-content-container div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header-text-content-container div .btn{
    color: white;
    font-weight: bold;
    letter-spacing: 0.5px;
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: bold;
    background-color: transparent;
    border: none;
    outline: none;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.header-text-content-container div .btn:disabled{
    cursor: no-drop;
    opacity: 0.6;
}

