.output-container-wrapper {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.output-container {
    background-color: white;
    box-shadow: 0 0 2px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    min-width: min(400px, 90vw);
}

.output-container > button{
    margin-top: 1rem;
}

.output-container > button,
.output-container .link
{
    width: 12rem;
    padding: 0.4rem;
    background-color: var(--DEFAULT-FONT-COLOR);
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0.5rem;

    font-size: 0.8rem;
    text-align: center;
    text-decoration: none;
}

.output-container > button:hover,
.output-container .link:hover{
    opacity: 0.8;
}
